* {
    box-sizing: border-box;
}

.body {
    max-width: 1240px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav {
    display: flex;
    text-align: center;
    align-items: center;
}
.top-nav a {
    margin-left: 20px;
    text-decoration: none; 
}

.top-nav ul {
    text-align: center;
    list-style-type: none; 
}

.top-nav li {
   display: inline-block;
   }


           
.searchbar-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.searchbar-content {
    display: flex;   
}

.map-button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    cursor: pointer;
}

.fa-map-marker-alt {
    padding: 10px;
}

.search-box {
    border: 1px solid #ccc ;
}

.search-button {
    background-color: #0065FC;
    color:white;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.filter {
    display: flex;
    align-items: center;
}

/*
.filter-container {
     display: flex;   
     align-items: center;
}
*/

.filter-button {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    padding: 5px 30px;   
}

.accommodaations-area {
    display: flex;
    justify-content: space-between;
    /*align-items: flex-start;*/
    
}

.main-accommodation {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2;
    /*align-items: flex-start;*/
    border-radius: 25px;
}

.main-accommodation h2 {
    margin-left: 35px;
}

.main-accommodation button {
    margin: 35px
}


.main-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

.main-card {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;   
}

.main-card-content {
    margin: 10px;
}

.main-card-link { 
    flex: 0 0;
    
}

.main-card-image {
    width: 300px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.popular-accommodation {
   flex-basis: 35%;
   display: flex;
   flex-direction: column;
   background-color: #F2F2;
   border-radius: 25px;
}

.popular-header-container {
    /*width: 90%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-card-container {
    /*width: 90%;*/
    display: flex;
    flex-direction: column;
}
 
.popular-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.popular-card-content {
    margin: 10px;
}

.popular-card-link {
    flex: 0 0;
}

.popular-card-image {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    top: 2px;
    left: 3px;
}

.popular-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.activities-card-container {
    display: flex;
    justify-content: space-evenly;
}

.activities-card {
    flex: 0;
    display: flex;
    flex-direction: column;
}

.activities-card-content {
    margin: 10px;
}

.big-child-card {
    display: flex;
    flex-direction: column;
}

.big-child-card-image {
    width: 260px;
    height: 360px;
    object-fit: cover;
}

.normal-child-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.normal-child-card-image {
    width: 260px;
    height: 170px;
    object-fit: cover;
}

.short-child-card {
    display: flex;
    flex-direction: column;
}

.short-child-card-image {
    width: 260px;
    height: 130px;
    object-fit: cover;
}



@media screen and (max-device-width: 414px){

    
    
    .header-container {
        flex-wrap: wrap;
    }

    .top-nav ul {
        padding: 5px;
    }

    #register {
        position: relative;
        bottom: 50px;
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-content {
        display: flex;
        flex-wrap: wrap;
    }

    .filter-button {
        margin-bottom: 10px;
    }


    .accommodaations-area {
        flex-direction: column;
    }

    .popular-accommodation {
        order: 1;
    }

    .main-accommodation {
        order: 2;
    }

    .main-card-container {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .main-card {
      /*flex-basis: 200px;*/
    }


    .popular-header-container {
        margin: 0 50px;
    }

    .popular-card-container {
        /*align-items: flex-start;*/
    }

    .popular-card {
        /*width: 100%;*/
       /* flex-basis: 200px;*/
       /* flex-wrap: wrap;*/
    }

    .activities-card-container {
        flex-direction: column;
    }
}




.filter-button {
    background-color: white;
    border: thin solid;
    border-radius: 10px;
    padding-left: 0px;
}

.fa-money-bill-wave {
    color: #0065FC;
    background-color:skyblue;
    padding: 3px;
    border-radius: 50%;
}

.fa-child {
    color: #0065FC;
    background-color:skyblue;
    padding: 3px;
    border-radius: 50%;
}

.fa-heart {
    color: #0065FC;
    background-color:skyblue;
    padding: 3px;
    border-radius: 50%;
}

.fa-dog {
    color: #0065FC;
    background-color:skyblue;
    padding: 3px;
    border-radius: 50%;
}





