* {
    box-sizing: border-box;
}



.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav {
    /*display: flex;*/
    /*text-align: center;*/
    /*align-items: center;*/
    margin-left: auto;
}
.top-nav a {
    margin-left: 30px;
    text-decoration: none; 
}
#register {
    text-decoration: none;
    margin-left: 30px;
}
           
.searchbar-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.searchbar-content {
    display: flex;   
}

#map-button {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
    cursor: pointer;
}

.fa-map-marker-alt {
    padding: 15px;
}

.search-box {
    width: 250px;
    /*padding-right: 60px;*/
    border-right: 0px;
    border-left: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


#search-button {
    background-color: #0065FC;
    color:white;
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    right: 10px;
}

.fa-search {
    color: white;
}



.filter {
    display: flex;
    align-items: center;

}

#filter-content {
    list-style-type: none;
    display: flex;
}

.filter-button {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 0px 15px 0px 0px;
    background-color: white;
    border: thin solid;
    border-radius: 20px;
}

.fa-money-bill-wave {
    color: #0065FC;
    background-color:skyblue;
    padding: 12px;
    border-radius: 50%;
}

.fa-child {
    color: #0065FC;
    background-color:skyblue;
    padding: 12px;
    border-radius: 50%;
}

.fa-heart {
    color: #0065FC;
    background-color:skyblue;
    padding: 12px;
    border-radius: 50%;
}

.fa-dog {
    color: #0065FC;
    background-color:skyblue;
    padding: 12px;
    border-radius: 50%;
}

.accommodaations-area {
    display: flex; 
    justify-content: space-between;
    /*align-items: flex-start;*/
    
}

.main-accommodation {
    flex-basis: 62%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2;
    /*align-items: flex-start;*/
    border-radius: 25px;
}

.main-accommodation h2 {
    margin-left: 35px;
}

#show-more {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin-left: 35px;
}


.main-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;   
}

.main-card-content {
    margin: 10px;
}

.main-card-link { 
    flex: 0 0;
    padding: 3px;
    
}

.main-card-image {
    width: 300px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.popular-accommodation {
    flex-basis: 35%;      
    background-color: #F2F2;
    border-radius: 25px;
}

.popular-header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}




.popular-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    /*align-items: center;*/
}
 
.popular-card {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}


.popular-card-content {
    margin: 10px;
}

.popular-card-link {
    flex: 0 0;
    padding: 3px;
}

.popular-card-image {
    width: 120px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    top: 2px;
    left: 3px;
}

.activities-area {
    margin-top: 50px;
}
.activities-card-container {
    display: flex;
    justify-content: space-between;
}


.activities-card-content {
    margin: 10px;
}

.big-child-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px gray;
    border-radius: 20px 20px 20px 20px;
    
}

.big-child-card-image {
    width: 320px;
    height: 360px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.normal-child-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px gray;
    border-radius: 20px 20px 20px 20px;
}

.normal-child-card-image {
    width: 320px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.short-child-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px gray;
    border-radius: 20px 20px 20px 20px;
}

.short-child-card-image {
    width: 320px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#footer-container {
    display: flex;
    background-color: #F2F2;
    margin-top: 50px;
}

.footer-card {
    flex-basis: 30%;
}


.footer-card ul {
    list-style-type: none;
    padding: 0px;
}

.footer-card li {
    padding: 5px 0px;
}

.footer-card a {
    text-decoration: none;
    color: black;
}

@media screen and (max-device-width: 428px){

    
    
    .header-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .top-nav {
        order: 2;
        margin-left: 0;
    }

    .top-nav a {
        margin-right: 50px;
    }
    

    #register {
        order: 1;
        margin-right: 20px; 
    }

    
    .filter {
        flex-direction: column; 
        align-items: flex-start;

    }

    #filter-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0px;
    }

    .filter-button {
        margin-bottom: 10px;
    }
    

    .accommodaations-area {
        flex-direction: column;
    }

    .popular-accommodation {
        order: 1;
    }

    .main-accommodation {
        order: 2;
    }

    .main-card-container {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .main-card {
      /*flex-basis: 200px;*/
    }


    .popular-header-container {
       margin: 0 20px;
    }

    .popular-card-container {
        /*align-items: flex-start;*/
    }

    .popular-card {

        /*width: 100%;*/
       /* flex-basis: 200px;*/
       /* flex-wrap: wrap;*/
    }

    .activities-card-container {
        flex-direction: column;
    }
}








